.dashboard-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: .5em;
}

.dashboard-card-body {
  flex: 1 1 445px;
  overflow: auto;
}

.dashboard-card {
  flex-grow: 1;
  flex-basis: 500px;
  max-width: 500px;
  height: 500px;
}
