.primary-card-wrapper {
  width: 95%;
  margin: auto;
  margin-top: 1em;
  max-width: 52em;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-card {
  height: 25em;
  overflow-y: auto;
}

.schedule-body {
  width: auto;
  max-height: 70vh;
  overflow: auto;
}

.grid {
  display: grid;
  width: 100%;
}

.grid-background {
  --scale: 40px;
  --day0: transparent;
  --day1: transparent;
  --day2: transparent;
  --day3: transparent;
  --day4: transparent;
  --day5: transparent;
  --day6: transparent;
  background:
    repeating-linear-gradient(0.25turn,
      #99999925 0 1px,
      var(--day0) 1px calc(var(--scale) - 1px),
      #99999925 calc(var(--scale) - 1px) calc(var(--scale) + 1px),
      var(--day1) calc(var(--scale) + 1px) calc(calc(2 * var(--scale)) - 1px),
      #99999925 calc(calc(2 * var(--scale)) - 1px) calc(calc(2 * var(--scale)) + 1px),
      var(--day2) calc(calc(2 * var(--scale)) + 1px) calc(calc(3 * var(--scale)) - 1px),
      #99999925 calc(calc(3 * var(--scale)) - 1px) calc(calc(3 * var(--scale)) + 1px),
      var(--day3) calc(calc(3 * var(--scale)) + 1px) calc(calc(4 * var(--scale)) - 1px),
      #99999925 calc(calc(4 * var(--scale)) - 1px) calc(calc(4 * var(--scale)) + 1px),
      var(--day4) calc(calc(4 * var(--scale)) + 1px) calc(calc(5 * var(--scale)) - 1px),
      #99999925 calc(calc(5 * var(--scale)) - 1px) calc(calc(5 * var(--scale)) + 1px),
      var(--day5) calc(calc(5 * var(--scale)) + 1px) calc(calc(6 * var(--scale)) - 1px),
      #99999925 calc(calc(6 * var(--scale)) - 1px) calc(calc(6 * var(--scale)) + 1px),
      var(--day6) calc(calc(6 * var(--scale)) + 1px) calc(calc(7 * var(--scale)) - 1px),
      #99999925 calc(calc(7 * var(--scale)) - 1px) calc(calc(7 * var(--scale)))
    );
}

.task-items {
  background:
    linear-gradient(270deg, #272b30 0%, transparent 10px),
    linear-gradient(180deg, transparent 90%, #ffffff26);
  background-color: var(--bs-card-bg);
}

.open {
  max-height: 190px;
  overflow: hidden;
  transition: max-height .75s ease-in-out
}

.close {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .75s ease-in-out
}

.task-items-expand {
  background: linear-gradient(270deg, #272b30 0%, transparent 10px);
  background-color: var(--bs-card-bg);
}

.date-bar-bg {
  padding-bottom: 8px;
  background: linear-gradient(0deg, #272b30 0%, transparent 10px);
  background-color: var(--bs-card-bg);
}

.search-box-border {
  background:
    linear-gradient(270deg, transparent 0%, var(--bs-card-bg) 10px),
    linear-gradient(0deg, transparent 0%, var(--bs-card-bg) 10px);
  background-color: #272b30;
}

.schedule_bar {
  --bar-color: var(--bs-secondary);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  grid-column: var(--start) / span var(--stop);
  background-color: var(--bar-color);
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.date-bar {
  border-left-style: solid;
  border-right-style: solid;
  text-align: center;
  border-color: #99999925;
  border-width: 1px;
}

.flip {
  display: inline-block;
  transition: 0.25s ease-in-out;
  transform: rotate(180deg);
}

.un-flip {
  display: inline-block;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
}

.user-btn {
  flex: auto;
  text-align: left;
}

.dashboard-card-body {
  flex: 1 1 445px;
  overflow: auto;
}

.dashboard-card {
  flex-grow: 1;
  flex-basis: 500px;
  max-width: 500px;
  height: 500px;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* boot strap changes (in case of style change) */

/* #### Modified #### */
/* .dropdown-menu {
  --bs-dropdown-zindex: 1000; (changed to 1050)
  display: none; (removed)
} */

/* .row-cols-2>* {
  width: 50%; (changed to 49%)
} */

/* #### Added #### */
/* .sticky-left {
  --stick-l: 0;
  position: -webkit-sticky;
  position: sticky;
  left: var(--stick-l);
  z-index: 1020;
} */

/* .sticky-right {
  --stick-r: 0;
  position: -webkit-sticky;
  position: sticky;
  right: var(--stick-r);
  z-index: 1020;
} */